
.gris{
		margin-left:20%;
		margin-right:20%;
		margin-bottom:5%;
		margin-top:5px;
		padding:5px 5px;
		border-radius: 10px 10px 10px 10px;
		background-color:#a3e4d7;
}

.foto{
		margin-left:20%;
		margin-right:20%;
}



.meGusta{
		float: right;
		width: 49%;
		border:1px solid black;

}

.tiempo{
		float: left;
		width: 49%;
		border:1px solid black;
}

.usuario{
		font-size:20pt;
}

.texto{
		text-align:center;
		font-size:16pt;
}

.contenido{
		background-color:  #eae7d8;
		padding:20px 20px;
		border-radius: 10px 10px 10px 10px;
		margin-left:0.5%;
		margin-right:0.5%;
		margin-top:.0.5%;
		margin-bottom:0.5%;
}

.comentarios{
		font-size:14pt;
}

body{
		font-family: calibri;
}